 body {
   background-color: aqua;
 }
 
 .textInput {
   height: 30vh;
   width: 75vw;
   padding: 1rem;
   margin: 1rem 0 5rem;
 }

 img {
   width: 70vw;
 }

 #preview {
   width: 80vw;
   margin: -5rem auto 5rem;
   justify-content: center;
   text-align: center;
   background-color: antiquewhite;
 }

pre {
   background-color: white;
   width: 50vw;
   margin: auto;
   text-align: start;
}
